/node_modules
/public/build
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.site-settings
/.gemini
/.vscode
/.idea
/bin/php
/bin/node
/bin/npm
*.bat
*.ps1
/database/*.sqlite
/database/*.sqlite-journal
/database/*.sql
/storage/app/public/checklist-photos/*
/storage/app/public/room_photos/*
/storage/app/public/task_media/*
