@import "tailwindcss/base";
@import "tailwindcss/components";
@import "perfect-scrollbar/css/perfect-scrollbar.css";
@import "tailwindcss/utilities";

.dark .ps__rail-y,
.dark .ps__rail-x {
    background-color: transparent !important;
}

[x-cloak] {
    display: none !important;
}


/* Apply theme color to various elements */
.bg-theme-primary {
    background-color: var(--theme-primary) !important;
}

.text-theme-primary {
    color: var(--theme-primary) !important;
}

.border-theme-primary {
    border-color: var(--theme-primary) !important;
}

.hover\:bg-theme-primary:hover {
    background-color: var(--theme-primary) !important;
}

.hover\:text-theme-primary:hover {
    color: var(--theme-primary) !important;
}

.focus\:ring-theme-primary:focus {
    --tw-ring-color: var(--theme-primary) !important;
}
